
.square {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    box-sizing: border-box;
    color: #eaeaea;
    border: 3px solid black;
    border-radius: 1rem;
    background-color: teal;
    font-size: xx-large;
    font-weight: 600;
  }

.square:hover{
  border: 3px solid white;
}